@import "tailwindcss";
@import "uniwind";

@theme {
	--font-sans: Geist;
	--font-display: Anton-Regular;



	--color-primary: var(--color-blue-500);
}


@layer theme {
	:root {
		@variant light {
			--color-screen: var(--color-white);
		}

		@variant dark {
			--color-screen: var(--color-zinc-900);
		}
	}
}
