[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
grpcio = "*"
grpcio-tools = "*"
pika = "*"
django-environ = "*"

[dev-packages]

[requires]
